# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies
.buildlog/
build/
generated_plugin_registrant.dart

# Android
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
android/local.properties
android/.idea/
*.iml

# iOS
ios/Pods/
ios/Runner.xcworkspace/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/ServiceDefinitions.json

# VS Code
.vscode/

# IntelliJ/Android Studio
.idea/
*.iml
*.ipr
*.iws

# macOS/Linux/Windows
.DS_Store
*.log

# Environment / Secrets
.env
.env.*   # if you have different env files

# Build outputs
build/
# Flutter web build
web/build/
